
<div class="principale_div_menu">

	<!-- SIDEBAR -->
	<section id="bisko_sidebar">
    <br><br>
		<a href="#" class="brand">
			<img src="../../assets/logo.png" alt="" width="50px" height="50px" style="border-radius: 20px;margin-right: 10px; margin-left: 5px;">

			<span class="text">TerangaBank</span>
		</a>
		<ul class="bisko_side-menu top">
			<li routerLinkActive="active">
				<a routerLink="/admin/acceuil">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Acceuil</span>
				</a>
			</li>
			<li routerLinkActive="active">
				<a routerLink="/admin/tarif" >
					<i class='bx bxs-bank'></i>
					<span class="text">Modifier Taux transaction</span>
				</a>
			</li>

			<li  routerLinkActive="active">
				<a routerLink="/admin/virement">
          <i class='bx bx-transfer'></i>
					<span class="text">Visualiser tout les virements</span>
				</a>
			</li>
			<li routerLinkActive="active" class="active">
				<a routerLink="/admin/compte">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Visualiser tout les comptes</span>
				</a>
			</li>

		</ul>
		<ul class="bisko_side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a  (click)="deconnecter()" class="logout" >
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="bisko_content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu' (click)="toggle()"></i>
			<a href="#" class="nav-link">Categories</a>
			<form action="#">

			</form>
			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode" (click)="switch()"></label>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="bisko_profile">
				<img src="../../assets/img/admin.png">
			</a>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<div class="bisko_head_title">
				<div class="left">
					<h1>Dashboard</h1>
					<ul class="breadcrumb">
						<li>
							<a href="#">Dashboard</a>
						</li>
						<li><i class='bx bx-chevron-right' ></i></li>
						<li>
							<a class="active" href="#">Modifier compte</a>
						</li>
					</ul>
				</div>

			</div>

			<ul class="box-info">
				<li>


						<h3 style="margin-left: 28%; font-size: 35px;"class="txt_grand">Modifier compte</h3>

				</li>
			</ul>
      <!-- <style>
        form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
      }

      /* Style des étiquettes */
      label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
      }

      /* Style des champs de saisie de texte */
      input[type="text"] {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
        width: 300px;
        margin-top: 30px;
      }

      /* Style du bouton de soumission */
      input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 30px;
      }

      input[type="submit"]:hover {
        background-color: #3e8e41;
      }

      </style> -->
      <style>

 form.sign-up-form{
	z-index: 1;
	opacity: 1;

}
      </style>
			<div class="table-data">
				<div class="order">


            <form action="register" class="sign-up-form"  (ngSubmit)="userRegister(monFormulaire)"  #monFormulaire="ngForm" >



              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" name="nom" [(ngModel)]="user.nom"  id="nom" placeholder="Nom complet" required>
              </div>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" name="cin" id="cin" [(ngModel)]="user.cin" placeholder="Numéro securite sociale" required>
              </div>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" id="login" [(ngModel)]="user.login"  name="login" placeholder="Username" required>
              </div>
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="number" name="code" id="code" [(ngModel)]="user.code" placeholder="code postale" required>
              </div>
              <div class="input-field">
                <i class='bx bxs-phone-call'></i>
                <input type="number" name="telephone" [(ngModel)]="user.telephone" id="telephone" placeholder="Telephone" required>
              </div>

              <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" id="email" [(ngModel)]="user.email" placeholder="Email" required>
              </div>

              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="Password" name="password" [(ngModel)]="user.password"  id="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="un mot de passe fort qui comprend au moins 8 caractères, avec une combinaison de lettres (majuscules et minuscules), de chiffres et de caractères spéciaux" required>
              </div>
            
              <div class="select-container">
                <span class="prefix-text">Type de compte :</span>
                <select class="custom-select" name="compte" id="compte" [(ngModel)]="user.compte">
                  <option value="courant" selected>courant</option>
                  <option value="epargne">epargne</option>

                </select>
              </div>



              <input type="submit" value="Sign up" class="btn solid" id="boutonIncription">

            </form>



          <!-- <form>

            <input type="text" id="nom" name="nom" placeholder="Entrez votre nom">


            <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom">
            <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom">
            <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom">
            <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom">
            <input type="text" id="prenom" name="prenom" placeholder="Entrez votre prénom">

            <input type="submit" value="Soumettre">
          </form> -->

				</div>

			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

</div>



