<nav class="sidebar close">
  <header>
      <div class="image-text">
          <span class="image22">
              <img src="../../assets/logo.png" alt="">
          </span>

          <div class="text logo-text">
              <span class="name">TerangaBank</span>
              <span class="profession">Best Bank</span>
          </div>
      </div>

      <i class='bx bx-chevron-right toggle'  (click)="voirMenu()"></i>
  </header>

  <div class="menu-bar">
      <div class="menu">


          <ul class="menu-links">
              <li class="nav-link">
                  <a routerLink="/test" >
                      <i class='bx bx-home-alt icon'  ></i>
                      <span class="text nav-text" >Home</span>
                  </a>
              </li>

              <li class="nav-link">
                  <a routerLink="" routerLinkActive="active_menu"  >
                      <i class='bx bx-bar-chart-alt-2 icon 'routerLinkActive="text_active"  ></i>
                      <span class="text nav-text tesxt2" routerLinkActive="text_active">Service</span>
                  </a>
              </li>

              <li class="nav-link">
                  <a routerLink="/about">
                      <i class='bx bx-bell icon'></i>
                      <span class="text nav-text">About</span>
                  </a>
              </li>

              <li class="nav-link">
                  <a routerLink="/contacts">
                      <i class='bx bx-pie-chart-alt icon' ></i>
                      <span class="text nav-text">Contacts</span>
                  </a>
              </li>



              <li class="nav-link">
                  <a href="#">
                      <i class='bx bx-wallet icon' ></i>
                      <span class="text nav-text">Wallets</span>
                  </a>
              </li>

          </ul>
      </div>

      <div class="bottom-content">
          <li class="">
              <a routerLink="/login">
                  <i class='bx bx-log-in icon' ></i>
                  <span class="text nav-text">Login</span>
              </a>
          </li>

          <li class="mode">
              <div class="sun-moon">
                  <i class='bx bx-moon icon moon'></i>
                  <i class='bx bx-sun icon sun'></i>
              </div>
              <span class="mode-text text">Dark mode</span>

              <div class="toggle-switch">
                  <span class="switch" (click)="changerMode()"></span>
              </div>
          </li>

      </div>
  </div>

</nav>

  <section class="home">
    <div class="titre_principale">

         <div class="gr_titre">

          <h1 class="gr_titre1" style="text-align:center;"
          data-aos="zoom-in-up"
                      data-aos-delay="800"
                      data-aos-duration="1000"
                      data-aos-easing="ease-in-out"
                      >Service</h1 >
         </div>
    </div>

    <div class="corps">



    </div>



</section>


