
<div class="principale_div_menu">

	<!-- SIDEBAR -->
	<section id="bisko_sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">TerangaBank</span>
		</a>
		<ul class="bisko_side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Acceuil</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">My Store</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Analytics</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Team</span>
				</a>
			</li>
		</ul>
		<ul class="bisko_side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
			<li>
        <i class='bx bx-menu' ></i>
			</li>
		</ul>
	</section>
	<!-- SIDEBAR -->



	<!-- CONTENT -->
	<section id="bisko_content">
		<!-- NAVBAR -->
		<nav>


			<input type="checkbox" id="switch-mode" hidden>
			<label for="switch-mode" class="switch-mode"></label>


		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>

        <div class="titre_principale">
          <div class="imagetitre">

              <img src="../../assets/img/banque.png" alt="" width="80px"  class="image_banque"  data-aos-easing="ease-in-out" data-aos="fade-down-right" data-aos-delay="700" data-aos-duration="700">
              <br>

             </div>
             <div class="gr_titre">

              <h1 class="gr_titre1"
              data-aos="zoom-in-up"
                          data-aos-delay="800"
                          data-aos-duration="1000"
                          data-aos-easing="ease-in-out"
                          >Teranga Bank</h1>
             </div>
        </div>

        <div class="corps">

          <img src="../../assets/svg/Savings.svg" class="mosque" data-aos-easing="ease-in-out" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1500">


        <br><br><br><br>


          <div class="contentt">
        <div class="textBoxt">
          <h2 data-aos="fade-down-right"
            data-aos-delay="1000"
            data-aos-duration="1000"
              data-aos-easing="ease-in-out">La banque de l'avenir</h2>
          <p data-aos="zoom-in-up"
            data-aos-delay="1300"
            data-aos-duration="1000"
              data-aos-easing="ease-in-out" class="paragraphe_acceuill">
            Réalisez d'importantes economies .<br>
            Simplifiez votre relation avec votre banque .<br>
            Accédez aux financements a des taux préférentiels



            <br>	<br>
            Economisez votre temps en simplifiant votre relation avec votre banque	</p>
        <a href="#" data-aos="zoom-out"
            data-aos-delay="2100"
            data-aos-duration="400"
              data-aos-easing="ease-in-out"
              data-toggle="modal" onclick="popupToggle()">Read more</a>
        </div>
      </div>

          <ul class="sci">
        <li data-aos="zoom-out"
            data-aos-delay="2100"
            data-aos-duration="400"
              data-aos-easing="ease-in-out"
              data-aos-offset="0"><a href="#"><img  src="../../assets/img/facebook.png" alt="" width="50" ></a></li>
        <li data-aos="zoom-out"
            data-aos-delay="2500"
            data-aos-duration="400"
              data-aos-easing="ease-in-out"
              data-aos-offset="0"><a href="#" ><img src="../../assets/img/twitter.png" alt="" width="50"></a></li>
        <li data-aos="zoom-out"
            data-aos-delay="2900"
            data-aos-duration="400"
              data-aos-easing="ease-in-out"
              data-aos-offset="0"><a href="#" ><img src="../../assets/img/instagram.png" alt="" width="50"></a></li>
      </ul>
          <br>
      <br><br><br>
          <br>

          <div class="body">
              <div  data-aos="flip-left" data-aos-delay="50"  data-aos-duration="500"><h2 class="title modenuit">Nos Services </h2></div>
              <div class="containerc">
              <div class="boxc responsive_service"
                          data-aos="zoom-out"
                          data-aos-delay="0"
                          data-aos-duration="500"

                          >
                  <h2>1</h2>
                  <h3>Service One</h3>
                  <p>
                      Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Corrupti totam, cum nisi voluptatem, suscipit nihil ab aspernatur unde nulla fuga enim. Sit, aliquid. Asperiores, aut sequi tempora nostrum, expedita nam.
                  </p>
              </div>
              <div class="boxc responsive_service"
                          data-aos="zoom-out"
                          data-aos-delay="300"
                          data-aos-duration="500">
                  <h2>2</h2>
                  <h3>Service Two</h3>
                  <p>
                      Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Corrupti totam, cum nisi voluptatem, suscipit nihil ab aspernatur unde nulla fuga enim. Sit, aliquid. Asperiores, aut sequi tempora nostrum, expedita nam.
                  </p>
              </div>
              <div class="boxc responsive_service"
                          data-aos="zoom-out"
                          data-aos-delay="600"
                          data-aos-duration="500">
                  <h2>3</h2>
                  <h3>Service Three</h3>
                  <p>
                      Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Corrupti totam, cum nisi voluptatem, suscipit nihil ab aspernatur unde nulla fuga enim. Sit, aliquid. Asperiores, aut sequi tempora nostrum, expedita nam.
                  </p>
              </div>

          </div>
          </div>

          <div class="aide">
              <div  data-aos="flip-left" data-aos-delay="50"  data-aos-duration="500"><h2 class="title modenuit">Pour vous </h2></div>
              <div class="aidecontainer">
              <div class="box" data-aos="fade-right" data-aos-delay="50">
                  <div class="imgBx">
                      <img src="../../assets/img/monitor.png" alt="">
                      <br>

                  </div>
                  <div class="content">
                      <div class="icon">
                          <img src="../../assets/img/design.png" alt="">
                      </div>
                      <h3>Perte et vol</h3>
                      <h4>de vos</h4>
                      <h4>moyens de paiement </h4>
                  </div>
              </div>
              <div class="box" data-aos="fade-right" data-aos-delay="300">
                  <div class="imgBx">
                      <img src="../../assets/img/coding.png" alt="">
                  </div>
                  <div class="content">
                      <div class="icon">
                          <img src="../../assets/img/browser.png" alt="">
                      </div>
                      <h3>Problemes</h3>
                      <h4>lies</h4>
                      <h4> a votre carte</h4>
                  </div>
              </div>
              <div class="box" data-aos="fade-right" data-aos-delay="550">
                  <div class="imgBx">
                      <img src="../../assets/img/quality.png" alt="">
                  </div>
                  <div class="content">
                      <div class="icon">
                          <img src="../../assets/img/good.png" alt="">
                      </div>
                      <h3>Aide</h3>
                      <h4>Connection</h4>
                      <h4>Teranga net</h4>
                  </div>
              </div>


              </div>
          </div>

          <footer style="height: 200px;
        background-color: #0169b2;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        margin-top: 20px;
          margin-left: 70px;
          width: 90%;
        text-align: center;">
      <div class="foot"  data-aos="flip-left">
        <h2 style="font-size: 25px;">Gardons le contact</h2>
        <h4 style="font-size: 15px;">+221 33 825 75 61 <br>
          +221 33 825 75 61 <br>
          info@Terangabank.com
        </h4>
      </div>
      <div class="foot" data-aos="flip-left">
        <h2 style="font-size: 25px;">Horaires d'ouverture</h2>
        <h4 style="font-size: 15px;">Lundi au vendredi <br>
        8h-13h / 15h-18h<br>
        Samedi
        9h-12h</h4>
      </div>
      <div class="foot" data-aos="flip-left">
        <h2 style="font-size: 25px;">Inscrivez-vous à notre
         newsletter
        </h2>
         <input class="footMail" type="email" name="email" placeholder="example@gmail.com">
         <button class="footBtn">Envoyer</button>
      </div>


    </footer>
        </div>




		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->

</div>

