<img class="wave" src="../../assets/img/wave2.png">
	<div class="container">
		<div class="img">
			<img src="../../assets/img/bg.png">
		</div>
		<div class="login-content">
			<form action="index.html" id="formlogin" (ngSubmit)="adminLogin()">
				<img src="../../assets/img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<!-- <h5>Username</h5> -->
           		   		<input type="text" class="input" [(ngModel)]="user.login" id="login"  name="login" placeholder="Usermname">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i">
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<!-- <h5>Password</h5> -->
           		    	<input type="password" class="input" [(ngModel)]="user.password" id="password"  name="password" placeholder="Password">
            	   </div>
            	</div>

            	<input type="submit" class="btn22" value="Login">
            </form>
        </div>
    </div>
